<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Calogic</title>
</head>
<body>
<header>
    <a href="{{ url_for('main_site') }}" class="title-logo">Calogic</a>
    <ul class="nav-list">
        <li><a href="{{ url_for('main_site') }}">Home</a></li>
        <li><a href="{{ url_for('calculator') }}" class="active">Calculator</a></li>
        <li><a href="{{ url_for('functions') }}">Functions</a></li>
        <li><a href="{{ url_for('converter') }}">Converter</a></li>
        <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
    </ul>
    <div id="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>

<section class="main">
    <div class="main-text animation">
        <div class="input-wrapper">
            <form action="/calculator" method="post" id="calculator-form">
                <label for="user_input"><input type="text" id="user_input" name="user_input"
                                               value="{{ user_input_value }}"
                                               placeholder="insert an expression...">
                </label>
            </form>
            <label for="output_result"><input type="text" id="output_result" name="output_result" placeholder="result"
                                              value="{{ output_value }}" disabled>
                <label class="tooltip">
                    <button onclick="copyToClipboard()" onmouseout="mouse_out_func_to_copy()">
                        <span class="tooltip-text" id="myTooltip">copy to clipboard</span>copy
                    </button>
                </label>
            </label>
        </div>
    </div>
    <div class="main-help animation">
        <h1> Help </h1>
        <h4> accepted expressions</h4>
        <ul>
            <li>factorial - x!</li>
            <li>square root - sqrt(x)</li>
            <li>cube root - cbrt(x)</li>
            <li>floor (integer part) - floor(x)</li>
            <li>round-up - ceil(x)</li>
            <li>absolute value - |x|</li>
            <li>inversion - 1/x</li>
            <li>power - x^n</li>
            <li>n-root - nrt(x,n)</li>
        </ul>
    </div>
</section>

<script src="{{ url_for('static', filename='other/scripts/toggle_menu.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='other/scripts/ajax_script.js') }}"></script>
</body>
</html>
