<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Calogic</title>
</head>
<body>
<header>
    <a href="{{ url_for('main_site') }}" class="title-logo">Calogic</a>
    <ul class="nav-list">
        <li><a href="{{ url_for('main_site') }}">Home</a></li>
        <li><a href="{{ url_for('calculator') }}" class="active">Calculator</a></li>
        <li><a href="{{ url_for('functions') }}">Functions</a></li>
        <li><a href="{{ url_for('converter') }}">Converter</a></li>
        <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
    </ul>
    <div id="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>

<section class="main">
    <div class="main-input animation">
        <div class="input-wrapper">
            <form action="/calculator" method="post" id="calculator-form">
                <label for="user_input"><input type="text" id="user_input" name="user_input"
                                               value="{{ user_input_value }}"
                                               placeholder="insert an expression...">
                </label>
                <div class="submit-button">
                <label class="tooltip">
                    <button id="submit_button" type="submit" value="Submit" onclick="show_content()">
                        <span class="tooltip-text" id="myTooltip">submit expression</span>submit
                    </button>
                </label>
                <label class="tooltip">
                    <button id="clear_button" type="reset" onclick="clear_content()" class="cta">
                        <span class="tooltip-text" id="clear">clear input</span>clear
                    </button>
                </label>
                </div>
            </form>

            <label for="output_result"><input type="text" id="output_result" name="output_result" placeholder="result"
                                              value="{{ output_value }}" disabled>
            </label>
        </div>
    </div>
    <div class="main-help animation">
        <h4>Available operations</h4>
        <p>click on the chosen operation</p>
        <label class="tooltip">
            <button onclick="insert('sin()')"><span class="tooltip-text">insert sin(x)</span>sin(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('cos()')"><span class="tooltip-text">insert cos(x)</span>cos(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('tan()')"><span class="tooltip-text">insert tan(x)</span>tan(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('cot()')"><span class="tooltip-text">insert cot(x)</span>cot(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('sec()')"><span class="tooltip-text">insert sec(x)</span>sec(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('csc()')"><span class="tooltip-text">insert csc(x)</span>csc(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('arcsin()')"><span class="tooltip-text">insert arcsin(x)</span>arcsin(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('arccos()')"><span class="tooltip-text">insert arccos(x)</span>arccos(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('arctan()')"><span class="tooltip-text">insert arctan(x)</span>arctan(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('arccot()')"><span class="tooltip-text">insert arccot(x)</span>arccot(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('ln()')"><span class="tooltip-text">insert ln(x)</span>ln(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('x!')"><span class="tooltip-text">insert x!</span>x!
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('ceil()')"><span class="tooltip-text">insert ceil(x)</span>ceil(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('floor()')"><span class="tooltip-text">insert floor(x)</span>floor(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('sqrt()')"><span class="tooltip-text">insert sqrt(x)</span>sqrt(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('cbrt()')"><span class="tooltip-text">insert cbrt(x)</span>cbrt(x)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('1/')"><span class="tooltip-text">insert 1/</span>1/x
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('e^')"><span class="tooltip-text">insert e^</span>e^x
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('x^n')"><span class="tooltip-text">insert x^n</span>x^n
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('nrt(x,n)')"><span class="tooltip-text">insert nrt(x,n)</span>nrt(x,n)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('log(a,b)')"><span class="tooltip-text">insert log(a,b)</span>log(a,b)
            </button>
        </label>
        <label class="tooltip">
            <button onclick="insert('||')"><span class="tooltip-text">insert | |</span>| x |
            </button>
        </label>
    </div>
</section>

<script src="{{ url_for('static', filename='other/scripts/toggle_menu.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='other/scripts/ajax_script.js') }}"></script>
</body>
</html>
