<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Calogic</title>
</head>
<body>
<header>
    <a href="#" class="title-logo">Calogic</a>
    <ul class="nav-list">
        <li><a href="{{ url_for('main_site') }}">Home</a></li>
        <li><a href="{{ url_for('calculator') }}">Calculator</a></li>
        <li><a href="{{ url_for('functions') }}">Functions</a></li>
        <li><a href="{{ url_for('converter') }}" class="active">Converter</a></li>
        <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
    </ul>
    <div id="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>
CONVERTER
<script src="{{ url_for('static', filename='other/scripts/toggle_menu.js') }}"></script>
</body>
</html>
